*{
    margin: 0px ;
    padding: 0px;
}

.parent{
    /* border: 1px solid black; */
}

.container{
    /* background-color: white; */
    /* border: 1px solid black; */
    height: 80vh;
    width: 60%;
    margin: 3% 20%;
    position: absolute;
}

.hour{
    border: 1.2px solid black;
    background-color: black;    
    width: 0.05%;
    height: 24%;
    position: absolute;
    top: 22%;
    left: 49%;
    transition: 1s ease-in-out;
    transform-origin: bottom;
    transform: rotate(90deg);
    
}

.minute{
    border: 1.2px solid black;
    background-color: black;
    width: 0.05%;
    height: 32%;
    position: absolute;
    top: 14%;
    left: 49.1%;
    transition: 1s ease-in-out;
    transform-origin: bottom;
    transform: rotate(180deg);
}

.second{
    border: 1.2px solid black;
    background-color: black;
    width: 0.05%;
    height: 38%;
    position: absolute;
    top: 8%;
    left: 49%;
    transition: 1s ease-in-out;
    transform-origin: bottom;
    transform: rotate(270deg);
}

.circle{
    height: 3%;
    width: 2.5%;
    border-radius: 100%;
    border: 1.2px solid black;
    background-color: black;
    position: absolute;
    top: 44.5%;
    left: 47.8%;
    /* display: none;s */
}

h1{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 44%;
    bottom: 10%;
    line-height: 1.5;
    font-weight: normal;
    font-size: 4rem;
}
p{
    position: absolute;
    left: 44%;
    bottom: 10%;
    line-height: 1.5;
    font-weight: normal;
}

#btn{
    padding: 0.5rem 0.5rem;
    margin: 2% 2%;
    background-color: black;
    color: white;
    border: 0px;
    cursor: pointer;
}